<div class="counter-wrapper">
  <div *ngFor="let user of scoreboard" class="scoreboard columns is-mobile row">
    <div class="column is-offset-1 is-two-thirds">
      <h1 class="user-id">{{ user._id }}</h1>
    </div>
    <div class="column is-offset-1 is-two-thirds">
      <h1 class="total">{{ user.total }}</h1>
    </div>
  </div>

  <div class="separator"><br /></div>

  <div class="columns is-mobile">
    <div class="column is-offset-1 is-two-thirds">
      <h1>Global counter</h1>
    </div>
    <div class="column is-offset-1 is-two-thirds">
      <h1 class="">{{ counter }}</h1>
    </div>
  </div>

  <div *ngIf="this.isLogin" class="columns is-mobile">
    <div class="column is-offset-1 is-two-thirds">
      <h1>Your contributions</h1>
    </div>
    <div class="column is-offset-1 is-two-thirds">
      <h1 class="">{{ userCounter }}</h1>
    </div>
  </div>
</div>