<div class="form-container">
  <div class="" *ngIf="!this.isLogged">
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
      <h4 class="title">Login</h4>
      <div class="field">
        <p class="control has-icons-left">
          <input
            name="username"
            ngModel
            class="input form-control"
            type="text"
            placeholder="Username"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            name="password"
            ngModel
            class="input form-control"
            type="password"
            placeholder="Password"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <!-- <input class="btn btn-outline-info" type="submit" value="Login" /> -->
      <div class="button-container">
        <input class="button is-primary" type="submit" value="Submit input">
      </div>
    </form>
  </div>
  <div class="col-md-4 offset-4 mt-5" *ngIf="this.isLogged">
    <h1>You are logged in</h1>
    <a
      class="btn-outline-info"
      routerLink="/profile"
      href="/profile"
      routerLinkActive="active"
      >profile</a
    >
    <button class="btn btn-outline-info" (click)="logout()">Log-out</button>
  </div>
</div>
