<div class="form-container">
  <div class="" *ngIf="!this.isLogin">
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
      <h4 class="title">Register</h4>
      <div class="field">
        <p class="control has-icons-left">
          <input
            name="username"
            ngModel
            class="input form-control"
            type="text"
            placeholder="Username"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            name="password"
            ngModel
            class="input form-control"
            type="password"
            placeholder="Password"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <!-- <input class="btn btn-outline-info" type="submit" value="Login" /> -->
      <div class="button-container">
        <input class="button is-primary" type="submit" value="Register" />
      </div>
    </form>
  </div>
  <div class="" *ngIf="this.isLogin">
    <h5>You are logged in</h5>
  </div>
</div>
